body {
    background-color: black !important;
}

.main {
    text-align: center;
    color: white;
    background-color: black;
    Margin-top:25px;
}

.main h1 {
    font-size:60px;
}

.main h2 {
    font-size: 45px;
}

.main h3 {
    font-size: 30px;
    margin-bottom: 25px;
}

.photoFrame {
    border: 2px solid grey;
    border-radius: 5px;
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

.button {
    margin: 25px;
}