body {
    color: white;
    background-color: black;
}

.main {
    text-align: center;
}

.photoFrame {
    border: 2px solid grey;
    border-radius: 5px;
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

button {
    margin: 25px;
}