body {
    background-color: rgb(19, 19, 19) !important;
}

.main {
    text-align: center;
    color: white;
    background-color: rgb(19, 19, 19);
    Margin-top:25px;
}

.main h1 {
    font-size:65px;
}

.main h2 {
    font-size: 40px;
}

.main h3 {
    font-size: 25px;
    margin-top: 25px;
}

.photoFrame {
    border: 2px solid grey;
    border-radius: 5px;
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

.button {
    margin: 25px;
}

@media screen and (max-width: 600px) {
    .main h1 {
            font-size: 44px;
        }

        .main h2 {
            font-size: 30px;
        }

        .main h3 {
            font-size: 20px;
            margin-top: 15px;
        }

    .photoFrame {
            max-width: 80%;
        }

}